
/*新闻列表模块*/
.m_news_list{
  zoom: 1;
  width: 100%;
  height: 100px;
}
.m_news_list:after{
  content: "";
  clear: both;
}
.m_news_list_img{
  float: left;
  width: 30%;
}
.m_news_list_img img{
  width: 100%;
}
.m_news_list_info{
  float: left;
  width: 70%;
}
