/*头部*/
.logo{
  align-items: center;
  display: flex;
}
.logo img{
  width:45px;
}
.logo span{
  font-size: 16px;
}

.register{
  float: right !important;
}
.register>a{display: inline-block !important;margin: auto 5px;}
/*公共尾部*/
.footer{
  text-align: center;
}

/*新闻轮播图*/
.leftContainer{width:400px;float: left;}

